.cont-coral{
    background-color: var(--Soft-red);
    color: var(--Very-pale-orange);
    width: 400px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 375px){
    .cont-coral{
        width: 320px;
    }
}